.container__final {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  background: var(--azul-degrade);
 
}
.botao__ancora2 {
  background-color: var(--laranja);
  padding: 1em 2.2em;
  color: var(--branco);
  font-weight: 700;
  text-decoration: none;
  margin: 1em 0.5em;
  font-size: 14px;
}

.container__final__titulo {
 justify-content: center;
 font-family: var(--fonte-principal);
 font-size: 16px;
 color: var(--branco);
 font-weight: 300;
 margin: 1em;
  
}

.container__final__titulo2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0.5em;
}

.container__final__texto {
  font-weight: 300;
  margin: 0.5em;
}

  .container__email {
    font-weight: 400;
    margin: 0.5em 0 4em 1em;
    width: 80%;
    padding: 0.4em;
    border-radius: 4px;
    border: solid 2px var(--fonte-azul);
    
  }